<% include ../partials/boilerplate %>


<section class="hero dash-img">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
				Client Dashboard
			</h1>

		</div>
	</div>
</section>
<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a href='/loggedin'>
				<button class="button is-primary">Home</button></a>
			<a href='/clients/newclient'><button class="button is-primary">Create New Client</button></a>
			<!-- <a href='/clients/search'>
					<button class="button is-primary">Destination Search</button></a> -->

		</div>
	</div>
</nav>



<!--Creates a table of clients ordered by last name and type of travel they are interested in -->

<div class="table-container">
	<table class="table is-striped is-narrow is-hoverable is-fullwidth">
		<thead>
			<tr>
				<th class="" scope="col">Last Name</th>
				<th class="" scope="col">First Name</th>
				<th class="" scope="col">Preference</th>
			</tr>
		</thead>
		<tbody>
			<%	clients.forEach(client => { %>
			<tr>
				<td><a href='/clients/<%= client.id %>'><%= client.lname %></a></td>
				<td><a href='/clients/<%= client.id %>'><%= client.fname %></a></td>
				<td id=""><%= client.type %></td>
			</tr>
			<% }) %>
		</tbody>
	</table>

</div>

<% include ../partials/footer %>