<% include ../partials/boilerplate %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a href='/loggedin'>
				<button class="button is-primary">Home</button></a>
			<a href='/clients/'>
				<button class="button is-primary">View All Clients</button></a>
			<a href='/clients/search'>
				<button class="button is-primary">Destination Search</button></a>

		</div>
	</div>
</nav>
<a class="" href='/clients/<%=data.id%>/editclient'><input class="button is-warning" type="submit"
		value="Edit Profile" /></a>

<!--Client profile page which displays full profile of client -->
<!-- <div class='client'>
	<h2><%= data.fname +' '+ data.lname %></h2>
	<p><%= data.dob %></p>
	<p><%= data.sex %></p>
	<p><%= data.address %></p>
	<p><%= data.homephone %></p>
	<p><%= data.cellphone %></p>
	<p><%= data.email %></p>
	<p><%= data.type %></p>
</div> -->
<!-- Boarding pass design belongs to Lennart Hase https://codepen.io/motorlatitude/pen/JhuoB -->

<div class="box">
	<ul class="left">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

	<ul class="right">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<div class="ticket">
		<span class="airline">Travel Liason</span>
		<span class="airline airlineslip">GOAT AIR</span>
		<span class="boarding">PROFILE</span>
		<div class="content">
			<span class="jfk">JFK</span>
			<span class="plane">
				<?xml version="1.0" ?><svg clip-rule="evenodd" fill-rule="evenodd" height="60" width="60"
					image-rendering="optimizeQuality" shape-rendering="geometricPrecision"
					text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
					<g stroke="#222">
						<line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390" />
						<path
							d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z"
							fill="#222" stroke-linejoin="round" stroke-width="10" />
					</g>
				</svg></span>
			<span class="sfo">SFO</span>

			<span class="jfk jfkslip">JFK</span>
			<span class="plane planeslip">
				<?xml version="1.0" ?><svg clip-rule="evenodd" fill-rule="evenodd" height="50" width="50"
					image-rendering="optimizeQuality" shape-rendering="geometricPrecision"
					text-rendering="geometricPrecision" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
					<g stroke="#222">
						<line fill="none" stroke-linecap="round" stroke-width="30" x1="300" x2="55" y1="390" y2="390" />
						<path
							d="M98 325c-9 10 10 16 25 6l311-156c24-17 35-25 42-50 2-15-46-11-78-7-15 1-34 10-42 16l-56 35 1-1-169-31c-14-3-24-5-37-1-10 5-18 10-27 18l122 72c4 3 5 7 1 9l-44 27-75-15c-10-2-18-4-28 0-8 4-14 9-20 15l74 63z"
							fill="#222" stroke-linejoin="round" stroke-width="10" />
					</g>
				</svg></span>
			<span class="sfo sfoslip">SFO</span>
			<div class="sub-content">
				<span class="watermark">CLient</span>
				<span class="name">CLIENT NAME<br><span><%= data.fname +' '+ data.lname %></span></span>
				<span class="flight">PHONE<br><span><%= data.homephone %></span></span>
				<span class="gate">DOB<br><span><%= data.dob %></span></span>
				<span class="seat">GENDER<br><span><%= data.sex %></span></span>
				<span class="boardingtime">E MAIL<br><span><%= data.email %></span></span>

				<span class="flight flightslip">CELL PHONE<br><span><%= data.cellphone %></span></span>
				<span class="seat seatslip">TYPE<br><span><%= data.type %></span></span>
				<span class="name nameslip">ADDRESS<br><span><%= data.address %></span></span>
			</div>
		</div>
		<div class="barcode"></div>
		<div class="barcode slip"></div>
	</div>
</div>